.link {
    display: flex;
    font-size: 10px;
    padding-left: 8px;
    height: 40px;
    align-items: center;

}

.link:hover,
.link-active {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-size: 16px;
    font-weight: 600;
}

/* .link-active,.link {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-size: 16px;
    font-weight: 600;
} */