body {
  margin: 0;
  box-sizing: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: "Neue Frutiger World", Tahoma, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /* background-image: url("https://images.wallpapersden.com/image/download/janna-lol_bGVoZW2UmZqaraWkpJRobWllrWdma2U.jpg"); */
  /* background-image: url("https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-color: white
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-xl;
  }

}